/* Reset Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA500;
    padding: 2.5px 5px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link {
    text-decoration: none;
}



.logo-nav { /*img logo*/
    height: 70px;
    width: auto;
}

.navbar-right {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/**/
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
    box-shadow: 0px 4.5px 10px 2px #00000054;

    border-radius: 10px;
    padding: 5px 7.5px 5px 10px;
}

.nav-link:hover {
    color: white;
    box-shadow:0px 4.5px 10px 2px #f4f4f454;
    transition: box-shadow 0.3s ease;
}

.nav-link img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Efeito de brilho na imagem do nav-link ao passar o mouse */
.nav-link img:hover {
    filter: brightness(3); /* Aumenta o brilho da imagem */
    transition: filter 0.3s ease; /* Transição suave */
}

/* Efeito de brilho na imagem quando o mouse passa sobre o link */
.nav-link:hover img {
    filter: brightness(5) grayscale(100%); /* Aumenta o brilho e aplica escala de cinza */
    transition: filter 0.3s ease; /* Transição suave */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.comentario{

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 16px 32px rgba(0,0,0,0.3);
}

.comentario:hover { 
    transform: scale(1.02) translateY(-5px);
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Garante que ocupe 100% da altura da tela */
    width: 100%; /* Garante que ocupe 100% da largura */
    overflow: hidden; /* Evita rolagem desnecessária */
}

/* Cabeçalho */
header {
    flex: 1; /* Faz o header ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('imagens/fundo-prateleiras.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 20px;
    position: relative; /* Necessário para o uso do ::before */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor escura aplicada sobre a imagem */
    z-index: 1; /* Fica abaixo do conteúdo do header */
}

header * {
    position: relative; /* Garante que o conteúdo fique acima do ::before */
    z-index: 2;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
}

header .logo img {
    width: 300px;
}

header h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: #FFA500;
}

header p {
    font-size: 1rem;
    margin: 10px 0;
}

header .btn {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background: #FFA500;
    color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 16px 32px rgba(0,0,0,0.1); 

}

.btn:hover {
    background: #ff7800;
    transform: scale(1.02) translateY(-5px);
}

/* Serviços */
.servicos h2 span {
    color: #FFA500;
}

.servicos > .container > a {
    margin: 10px 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.card {
    background: #fff;
    box-shadow: 0 16px 32px rgba(0,0,0,0.3); 

    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    width: 300px;

    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover{
transform: scale(1.05) translateY(-10px);
      /* box-shadow: 0 16px 32px rgba(0,0,0,0.3); */
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

/* Segurança */
.seguranca {
    background: #333;
    color: #fff;
    padding: 40px 0;
}

.seguranca h2 {
    margin-bottom: 10px;
}

.seguranca h2 span {
    color: #FFA500;
}

.seguranca p {
    font-size: 1rem;
}

/* Especializados */
.especializados {
    background: #222;
    color: #fff;
    padding: 20px 0;
}

/* Seção de Marcas */
.marcas {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
}

.marcas h2 {
    margin-bottom: 20px;
}

.marcas-logos {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.marcas-logos img {
    width: 100px;
    height: auto;
}

/* Depoimentos */
.depoimentos {
    padding: 40px 0;
    background: #f4f4f4;
    text-align: center;
}

.depoimentos h2 {
    margin-bottom: 10px;
    color: #333;
}

.comentario {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.comentario img {
    width: 50px;
    margin-right: 20px;
}

.comentario-texto p {
    margin: 5px 0;
}

.comentario-texto img {
    height: 150px;
    width: 100%;
}

/* Sobre Nós */
.sobre-nos {
    background: #333;
    color: #fff;
    padding: 50px 0;
}

.sobre-nos h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #FFA500;
}

.sobre-nos-conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.sobre-nos-conteudo .texto {
    flex: 1;
    max-width: 500px;
}

.sobre-nos-conteudo .imagem img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}

/* Garantias */
.garantias {
    text-align: center;
    padding: 40px 20px;
    background: #f4f4f4;
}

.garantias h2 {
    margin-bottom: 20px;
    color: #333;
}

.garantias ul {
    list-style: none;
    padding: 0;
}

.garantias li {
    margin: 10px 0;
    font-size: 1.1em;
    color: #555;
}

.garantias span {
    color: #FFA500;
}

/*--------------*/
.garantias ul {
    text-align: center;
    padding: 40px 20px;
    background: #f4f4f4;

    list-style: none;
    padding: 0;
  }
  
  .garantias li {
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    padding-bottom: 4px;
    transition: color 0.3s ease;
  }
  
  .garantias li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #44fe44f7; /* cor da linha animada */
    transition: width 0.3s ease;
  }
  
  .garantias li:hover::after {
    width: 100%;
  }
  /*-------------*/

/* Rodapé */
footer {
    background: #222;
    color: #fff;
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

footer h3 {
    margin-bottom: 10px;
    color: #FFA500;
}

.info > p > a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.info p {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 4px;
  }

  .info p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #FFA500; /* Cor do sublinhado */
    transition: width 0.3s ease;
  }

  .info p:hover::after {
    width: 100%;
  }

footer .mapa {
    width: 100%;
    padding: 30px;
}

footer .mapa iframe {
    border-radius: 20px;
}

footer .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #aaa;
}

/* Botões Flutuantes */
.btn-flutuante-whatsapp {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #25D366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-flutuante-whatsapp img {
    width: 35px;
    height: 35px;
}

.btn-flutuante-whatsapp:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-flutuante-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFA500;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-flutuante-topo:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
    .sobre-nos-conteudo {
        flex-direction: column;
        text-align: center;
    }

    .comentario {
        flex-direction: column;
        text-align: center;
    }

    .comentario img {
        margin-bottom: 10px;
    }

    .navbar-right {

        gap: 10px;
    }
    
}

@media (max-width: 500px) {
    .nav-link > span{
        display: none;
    }
}
